<nav class="navbar navbar-expand-lg">
  <a routerLink="/products" class="navbar-brand">Webshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nav1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="isAuthenticated ? '/shopping-cart' : '/auth'" [title]="isAuthenticated ? '' : 'You need to be logged in to see cart!'">
          Cart 
          <i class="fa">&#xf07a;</i>
          <span class='badge' id='cartQuantity'>{{itemCount}}</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/auth">
          Authenticate
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">
          Logout</a>
      </li>
    </ul>
  </div>
</nav>