.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#cartQuantity {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px; 
}

li{
  margin-left: 20px;
}

nav{
  background-color: #3c1b00;
}
nav a{
  color: #f39c12;
}

nav a:hover{
  color: #fed99e;
}

.navbar-toggler-icon,
.navbar-toggler {
  color: #f39c12;
}

