<div *ngIf="product" class="d-flex justify-content-center m-5">
  <div class="pull-left list-group-item w-75 text-center">
    <h2 class="list-group-item-heading">{{product.name}}</h2>
    <img src="{{product.imagePath}}" alt="product">
    <p class="product-price"><b>{{product.price | currency:'EUR' }}</b></p>
    <p class="product-category">{{product.category | uppercase}}</p>
    <button (click)="onAddToCart(product)" class="btn btn-primary">Add to Cart</button><hr>
    <p class="text-left">{{product.description}}</p>
  </div>
</div>