img{
  width: 100%;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  background-color: rgb(235, 234, 234);
  opacity: 0.7;
  transition: 0.25s;
  scale: 1.03;
  box-shadow: 0px 0px 11px black;
}

.product{
  padding: 0;
  width: calc(32.33% - 10px);
  margin-bottom: 20px;
}

.product-category{
  color: #3c1b00;
  font-weight: bolder;
  margin: 2px 0;
}

@media(max-width: 768px){
  .product{
    width: calc(48.33% - 10px);
  }
}

@media(max-width: 600px){
  .product{
    width: 100%;
  }
}

.product:last-child:nth-child(3n+2) {
  margin-right: auto;
}

.product-list-container{
  margin: 50px;
}

.product-info{
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

mark{
  background-color: #f39c12;
  font-size: 18px;
}
