<div class="carousel-container">
  <div class="wrapper">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li *ngFor="let product of products.slice(0, 4); let i = index" 
            data-target="#demo" 
            [attr.data-slide-to]="i" 
            [class.active]="i === 0"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let product of products.slice(0, 4); let i = index" [class.active]="i === 0">
          <a (click)="loadProduct(product.id)">
          <div style="position: relative;">
            <div class="featured-product">
              <span class="featured-info">Featured </span>
              <i class="fa-solid fa-bookmark fa-xl"></i>
            </div>
              <img class="carousel-img" [src]="product.imagePath" alt="{{product.name}}">
            </div>
            <div class="carousel-caption">
              <h3>{{product.name | truncate}}</h3>
              <p>{{product.category}}</p>
            </div>
          </a>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev carousel-control" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next carousel-control" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

<div class="product-list-container">
  <div style="margin: 0 auto; max-width: 1000px;">
    <div class="search-container">
      <div class="box">
          <div name="search">
              <input type="text" 
                class="input" 
                id="searchKeyword" 
                name="searchKeyword" 
                [placeholder]="placeholder"
                (mouseenter)="placeholder = 'Search products...'"
                (mouseleave)="placeholder = ''"
                onmouseout="this.value = ''; this.blur();" 
                (keyup)="searchByKeyword(searchKeyword.value)"
                #searchKeyword>
          </div>
          <i class="fas fa-search"></i>
      </div>
      
    </div>
    
    <div class="d-flex flex-wrap flex-container" *ngIf="products.length > 0">
      <a (click)="loadProduct(product.id)" class="list-group-item clearfix product" *ngFor="let product of filteredProducts$ | async">
        <div class="pull-left d-flex flex-wrap">
          <img src="{{product.imagePath}}" alt="product">
          <div class="product-info">
            <div>
              <p class="product-category">{{product.category | uppercase}}</p>
              <h5 class="list-group-item-heading">{{product.name}}</h5>
            </div>
            <p><mark>{{product.price | currency:'EUR' }}</mark></p>
          </div>  
        </div>
      </a>
    </div>
    <div class="no-products-msg" *ngIf="products.length === 0">
      There are no products available yet!
    </div>
    <div class="no-products-msg" *ngIf="((filteredProducts$ | async)?.length === 0) && (products.length > 0)">
      There are no products matching your search :/
    </div>
  </div>
</div>
