<div class="container rounded">
  <h2>Product list</h2>
  <ul class="product-list border" *ngIf="products.length > 0">
    <li class="list-group-item product-list-item d-flex justify-content-between" 
        *ngFor="let product of products"
        (click)="displayProductInfo(product)">
        <p>
          {{"Name: " + product.name}}
        </p>
        <button class="btn btn-danger" (click)="deleteProduct(product)">-</button>
    </li>
  </ul>

  <div *ngIf="products.length === 0">
    <p>There are no products! Add new one</p>
  </div>
  
  <h2>Product Information</h2>
  <form (ngSubmit)="addProduct()" #f="ngForm">
    <div class="flex-container">
      <div class="product-info" id="product-info-input">
        <input 
          type="text" 
          placeholder="Name/Title" 
          [ngModel]="selectedProduct?.name" 
          (ngModelChange)="selectedProduct.name = $event"
          class="form-control"
          ngModel
          name="name"
          required>
        <input 
          type="text" 
          placeholder="Category" 
          [ngModel]="selectedProduct?.category" 
          (ngModelChange)="selectedProduct.category = $event"
          class="form-control"
          ngModel
          name="category"
          required>
        <input 
          type="text" 
          placeholder="Image Path (valid if shown below)" 
          [ngModel]="selectedProduct?.imagePath" 
          (ngModelChange)="selectedProduct.imagePath = $event"
          class="form-control"
          ngModel
          name="imagePath">
        <img id="img-preview" [src]="selectedProduct ? selectedProduct.imagePath : ''">
        <input 
          type="number"
          min="0.01"
          max="999999" 
          placeholder="Price (€)" 
          [ngModel]="selectedProduct?.price" 
          (ngModelChange)="selectedProduct.price = $event"
          class="form-control"
          ngModel
          name="price"
          required>
      </div>
      <div class="product-info" id="product-info-textarea">
        <textarea name="description" id="" rows="10" placeholder="Description" [ngModel]="selectedProduct?.description" (ngModelChange)="selectedProduct.description = $event"></textarea>
      </div>
    </div>
    <div>
      <button class="btn btn-success action-btn" type="submit" [disabled]="!f.valid">Add</button>
      <button class="btn btn-danger action-btn" (click)="clearInputs()" type="button">Clear Inputs</button>
      <button class="btn btn-info action-btn" (click)="updateProduct(selectedProduct)" [disabled]="!f.valid || (products.length === 0)" type="button">Update Product</button>
    </div>
  </form>
</div>
